{% extends 'base.html' %}
{% block title %}Alarms{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Alarms</h5>
            <h6 class="card-subtitle mb-2 text-muted">Alarms contain a timestamp and a description. The list of alarms is automatically updated.
                <button type="button" onclick="exportAlarms()" class="btn btn-default float-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
                    </svg>
                </button>
                <button type="button" onclick="deleteAlarms()" class="btn btn-default float-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                    </svg>
                </button>
            </h6>
            <table
                    id="table"
                    data-search="true"
                    data-search-highlight="true"
                    data-pagination="true"
                    data-pagination-next-text="Next"
                    data-pagination-pre-text="Previous"
                    data-pagination-loop="false"
                    data-pagination-parts="['pageList']"
                    data-url="/api/alarms">
                <thead>
                <tr>
                    <th data-field="timestamp" scope="col">Timestamp</th>
                    <th data-field="description" scope="col">Description</th>
                </tr>
                </thead>
            </table>

            <script>
                $(document).ready(function () {
                    $('#table').bootstrapTable({
                        url: '/api/alarms',
                        onLoadSuccess(data) {
                            setTimeout(getUpdates, 5000)
                        }
                    })
                    function getUpdates() {
                        $('#table').bootstrapTable('refresh')
                    };
                });
            </script>
        </div>
    </div>

{% endblock %}