{% extends 'base.html' %}
{% block title %}Resources{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Resources</h5>
            <h6 class="card-subtitle mb-2 text-muted">The resources of the Kubernetes cluster appear here. Click on a resource to view information. Refresh the page to update the list of resources.</h6>
            <div class="accordion" id="resourcesAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="podsHeading">
                        <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#podsCollapse" aria-expanded="true" aria-controls="podsCollapse">
                            <span class="text-primary">Pods</span>
                        </button>
                    </h2>
                    <div id="podsCollapse" class="accordion-collapse collapse" aria-labelledby="podsHeading" data-parent="#resourcesAccordion">
                        <div class="accordion-body">
                            {% if pods %}
                                <table id="podsTable" class="table table-hover table-hover"
                                       data-search="true"
                                       data-search-highlight="true"
                                       data-pagination="true"
                                       data-pagination-next-text="Next"
                                       data-pagination-pre-text="Previous"
                                       data-pagination-loop="false"
                                       data-pagination-parts="['pageList']">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Node</th>
                                        <th scope="col">Namespace</th>
                                        <th scope="col">Created</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in pods %}
                                        <tr>
                                            <th scope="row">{{pods.index(item)}}</th>
                                            <td>{{item["metadata"]["name"]}}</td>
                                            <td>{{item["status"]["phase"]}}</td>
                                            <td>{{item["spec"]["nodeName"]}}</td>
                                            <td>{{item["metadata"]["namespace"]}}</td>
                                            <td>{{item["metadata"]["creationTimestamp"]}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                Nothing to show here.
                            {% endif %}
                        </div>
                    </div>
                    <script>
                        $(function() {
                            $('#podsTable').bootstrapTable()
                        })
                    </script>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="servicesHeading">
                        <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#servicesCollapse" aria-expanded="true" aria-controls="servicesCollapse">
                            <span class="text-primary">Services</span>
                        </button>
                    </h2>
                    <div id="servicesCollapse" class="accordion-collapse collapse" aria-labelledby="servicesHeading" data-parent="#resourcesAccordion">
                        <div class="accordion-body">
                            {% if services %}
                                <table id="servicesTable" class="table table-hover table-hover"
                                       data-search="true"
                                       data-search-highlight="true"
                                       data-pagination="true"
                                       data-pagination-next-text="Next"
                                       data-pagination-pre-text="Previous"
                                       data-pagination-loop="false"
                                       data-pagination-parts="['pageList']">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Created</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in services %}
                                        <tr>
                                            <th scope="row">{{services.index(item)}}</th>
                                            <td>{{item["metadata"]["name"]}}</td>
                                            <td>{{item["metadata"]["creationTimestamp"]}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                Nothing to show here.
                            {% endif %}
                        </div>
                    </div>
                    <script>
                        $(function() {
                            $('#servicesTable').bootstrapTable()
                        })
                    </script>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="deploymentsHeading">
                        <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#deploymentsCollapse" aria-expanded="true" aria-controls="deploymentsCollapse">
                            <span class="text-primary">Deployments</span>
                        </button>
                    </h2>
                    <div id="deploymentsCollapse" class="accordion-collapse collapse" aria-labelledby="deploymentsHeading" data-parent="#resourcesAccordion">
                        <div class="accordion-body">
                            {% if deployments %}
                                <table id="deploymentsTable" class="table table-hover table-hover"
                                       data-search="true"
                                       data-search-highlight="true"
                                       data-pagination="true"
                                       data-pagination-next-text="Next"
                                       data-pagination-pre-text="Previous"
                                       data-pagination-loop="false"
                                       data-pagination-parts="['pageList']">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Created</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in deployments %}
                                        <tr>
                                            <th scope="row">{{deployments.index(item)}}</th>
                                            <td>{{item["metadata"]["name"]}}</td>
                                            <td>{{item["metadata"]["creationTimestamp"]}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                Nothing to show here.
                            {% endif %}
                        </div>
                    </div>
                    <script>
                        $(function() {
                            $('#deploymentsTable').bootstrapTable()
                        })
                    </script>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="namespacesHeading">
                        <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#namespacesCollapse" aria-expanded="true" aria-controls="namespacesCollapse">
                            <span class="text-primary">Namespaces</span>
                        </button>
                    </h2>
                    <div id="namespacesCollapse" class="accordion-collapse collapse" aria-labelledby="namespacesHeading" data-parent="#resourcesAccordion">
                        <div class="accordion-body">
                            {% if namespaces %}
                                <table id="namespacesTable" class="table table-hover table-hover"
                                       data-search="true"
                                       data-search-highlight="true"
                                       data-pagination="true"
                                       data-pagination-next-text="Next"
                                       data-pagination-pre-text="Previous"
                                       data-pagination-loop="false"
                                       data-pagination-parts="['pageList']">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Created</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in namespaces %}
                                        <tr>
                                            <th scope="row">{{namespaces.index(item)}}</th>
                                            <td>{{item["metadata"]["name"]}}</td>
                                            <td>{{item["status"]["phase"]}}</td>
                                            <td>{{item["metadata"]["creationTimestamp"]}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                Nothing to show here.
                            {% endif %}
                        </div>
                    </div>
                    <script>
                        $(function() {
                            $('#namespacesTable').bootstrapTable()
                        })
                    </script>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="nodesHeading">
                        <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#nodesCollapse" aria-expanded="true" aria-controls="nodesCollapse">
                            <span class="text-primary">Nodes</span>
                        </button>
                    </h2>
                    <div id="nodesCollapse" class="accordion-collapse collapse" aria-labelledby="nodesHeading" data-parent="#resourcesAccordion">
                        <div class="accordion-body">
                            {% if nodes %}
                                <table id="nodesTable" class="table table-hover table-hover"
                                       data-search="true"
                                       data-search-highlight="true"
                                       data-pagination="true"
                                       data-pagination-next-text="Next"
                                       data-pagination-pre-text="Previous"
                                       data-pagination-loop="false"
                                       data-pagination-parts="['pageList']">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Version</th>
                                        <th scope="col">Created</th>
                                        <th scope="col">IP Address</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in nodes %}
                                        <tr>
                                            <th scope="row">{{nodes.index(item)}}</th>
                                            <td>{{item["metadata"]["name"]}}</td>
                                            <td>{{item["status"]["nodeInfo"]["kubeletVersion"]}}</td>
                                            <td>{{item["metadata"]["creationTimestamp"]}}</td>
                                            <td>{{item["status"]["addresses"][0]["address"]}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                Nothing to show here.
                            {% endif %}
                        </div>
                    </div>
                    <script>
                        $(function() {
                            $('#nodesTable').bootstrapTable()
                        })
                    </script>
                </div>

            </div>
        </div>
    </div>
{% endblock %}